<!-- Footer -->
<footer class="py-1" style="background-color: #E2E2E2;">

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 card" style="background-color: #E2E2E2; font-size: 10px; border:none">
                        <div class="card-body">
                            <div>tphub</div>
                        </div>
                    </div>
                    <div class="col-md-3 card" style="background-color: #E2E2E2; font-size: 10px; border:none">
                        <div class="card-body">
                            <div>기획 000</div>
                            <div>디자인 000</div>
                            <div>프론트 김은재, 박서현</div>
                            <div>백 김서연, 양희정</div>
                        </div>
                    </div>
                    <div class="col-md-3 card" style="background-color: #E2E2E2; font-size: 10px; border:none">
                        <div class="card-body">
                            <div>About Us</div>
                        </div>
                    </div>
                    <div class="col-md-3 card" style="background-color: #E2E2E2; font-size: 10px; border:none">
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="text-center pt-3" style="font-size: 10px;">
               ⓒ Copyright 2023. TPHubCompany. Inc. all right reserverd
            </div>
        </div>
    </div>
</footer>
