{% extends 'landing_page/base.html' %} {% load static %}


<!---------------------------- 좌측 위젯!------------------------------------------->
{% block left_area %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing_page/css/styles.css' %}">
    <script src="{% static 'landing_page/script/script.js' %}"></script>

    <div id="cal-base" class="cal-container">
        <div class="calendar" id="table">
            <div class="header">
                <!-- Aqui é onde ficará o h1 com o mês e o ano -->
                <div class="month" id="month-header">

                </div>
                <div class="buttons">
                    <button class="icon" onclick="prevMonth()"><i class="fas fa-chevron-left"></i></button>
                    <button class="icon" onclick="nextMonth()"><i class="fas fa-chevron-right "></i></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/812e771e48.js" crossorigin="anonymous"></script>

    <script>
        // Wait for the document to be ready before calling createCal()
        document.addEventListener("DOMContentLoaded", function () {
            // Call createCal() here
            createCal();
        });
    </script>
{% endblock %}



<!---------------------------- 메인 위젯!------------------------------------------->
{% block main_area %}
<!-- 패들렛 임베디드 HTML 코드 !-->
<div class="padlet">
    {% if user.is_authenticated %}
    <div class="padlet-embed" style="solid rgba(0,0,0,0.1); border-radius:5px;
    box-sizing:border-box;overflow:hidden;position:relative;width:100%; background:#F4F4F4">
        <p style="padding:0;margin:0">
            <iframe src="https://padlet.com/embed/5cjk43zd6dw6sjbd"
                    frameborder="0"
                    allow="camera;microphone;geolocation"
                    style="width:800px;min-height:900px;display:block;padding:0;margin:0">
            </iframe>
        </p>
        <div style="display:flex;align-items:center;justify-content:end;margin:0;height:28px">
            <a href="https://padlet.com?ref=embed"
               style="display:block;flex-grow:0;margin:0;border:none;padding:0;text-decoration:none"
               target="_blank">
                <div style="display:flex;align-items:center;">
                    <img src="https://padlet.net/embeds/made_with_padlet_2022.png"
                         width="114" height="28"
                         style="padding:0;margin:0;background:0 0;border:none;box-shadow:none"
                         alt="Padlet으로 만듦">
                </div>
            </a>
        </div>
    </div>
