#nav {
    width: 100%;
    position: relative;
    text-align: center;
}

#nav > a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 30px;
}

#nav > select {
    padding: 0 20px;
    height: 30px;
    background-color: #1b2035;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-15px);
    border: 2px solid #fff;
    border-radius: 30px;
}

#nav > ul {
    display: inline-block;
}

#nav > ul li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
}
