{% extends 'board/base.html' %}

{% block head_title %}
    Create Post
{% endblock %}

{% block main_area %}
    <h1> Create New Post</h1>
    <hr>
        <form method = "post" enctype = "multipart/form-data">
            {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <button type="submit"> Submit</button>
        </form>
{% endblock %}




<!--// ==============================================================-->
<!--{% block main_area %}-->
<!--    <div class="container">-->
<!--        <form method="post" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->

<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    &lt;!&ndash; 카테고리 선택 드롭박스 / 부트스트랩 따옴&ndash;&gt;-->
<!--                    <div class="dropdown">-->
<!--                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"-->
<!--                           aria-expanded="false">-->
<!--                            카테고리 선택-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="#">회의록</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">현황공유</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">참고자료</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">제출문서</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; 제목 입력 필드 &ndash;&gt;-->
<!--            <div class="form-group">-->
<!--                <label for="title">제목:</label>-->
<!--                <input type="text" class="form-control" id="title" name="title" required>-->
<!--            </div>-->

<!--            &lt;!&ndash; 내용 입력 필드 &ndash;&gt;-->
<!--            <div class="form-group">-->
<!--                <label for="content">내용:</label>-->
<!--                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>-->
<!--            </div>-->

<!--            &lt;!&ndash; 버튼 영역 &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <button type="button" class="btn btn-outline-cancle">취소</button>-->
<!--                    <button type="button" class="btn btn-outline-upload">게시</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--{% endblock %}-->

