{% extends 'board/base.html' %}

{% block head_title %}
    Delete Post
{% endblock %}

{% block main_area %}
    <style>
        .delete-form {
            margin: 20px;
        }

        .btn-delete,
        .btn-cancel {
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
            transition: background-color 0.3s, color 0.3s;
            margin-right: 10px;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
        }

        .btn-delete:hover,
        .btn-cancel:hover {
            background-color: #000;
            color: #fff;
        }
    </style>

    <h1> Delete Post</h1>
    <hr>
    <form method="post" class="delete-form">
        {% csrf_token %}
        <p> 정말로 해당 글을 삭제할까요? </p>
        <input type="submit" class="btn btn-delete" value="Delete">
        <a href="/board/{{ post.pk }}" class="btn btn-cancel">Cancel</a>
    </form>
{% endblock %}
