{% extends 'board/base.html' %}
{% block main_area %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'board/css/button.css' %}">
    <style>
    .btn-light.text-dark {
        background-color: #e0e0e0; /* 차분한 배경색으로 변경 */
        border-radius: 0;
    }
</style>

</head>

<div class="container">
    <div class="row">
        <div class="col-md-7">

            <div class="btn-group" style="margin-bottom: 2px; ">
                <button type="button" class="btn btn-sm btn-light text-dark" onclick="sortByDate('-created_at')">최신순</button>
                <button type="button" class="btn btn-sm btn-light text-dark" onclick="sortByDate('created_at')">오래된순</button>

                <script>
                    function sortByDate(order) {
                        window.location.href = `/board/?ordering=${order}`;
                    }
                </script>
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            </div>
        </div>
        <div class="col-md-5 text-end">
            {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-dark btn-sm" href="/board/create_post/" role="button"
               style="background-color: transparent; border-color: black; color: black;">
                <i class="fas fa-pen"></i> 글쓰기
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>

    {% if user.is_authenticated and post_list.exists %}
    {% for p in post_list %}
    <a class="centered-element" href="{{ p.get_absolute_url }}" style="text-decoration: none; color:black;">
        <div class="row mb-2">
            <!-- 게시물 제목 / 작성자 / 카테고리 -->
            <div class="col-md-6">
                <div class="row mb-2">{{ p.title }}</div>
                <div class="row mb-2">{{ p.author }} ⦁ {{ p.category }}</div>
            </div>
            <!-- 댓글수 -->
            <div class="col-md-2">
                <i class="far fa-comment-dots"></i>
                <span class="mr-2" >
                    {% if p.comment_set.exists %}
                        {{ p.comment_set.count }}
                    {% else %}
                        0
                    {% endif %}
                </span>
            </div>
            <!-- 작성자 프로필 사진 / 작성일자 및 시간 -->
            <div class="col-md-4 text-right">
                <img src="{{ p.author.profile_picture.url }}" alt="" style="background:green"
                     class="rounded-circle" height="30" width="30">
                <span style="font-size: 0.7em;">{{ p.created_at }}</span>
            </div>
        </div>
    </a>
    {% if not forloop.last %} <!-- 마지막 게시물이 아닌 경우에만 구분선 추가 -->
        <hr class="mb-4">
    {% endif %}
    {% endfor %}
    {% else %}
        {% if not user.is_authenticated %}
            <h3>로그인이 필요합니다.</h3>
        {% else %}
            <h3>아직 게시물이 없습니다.</h3>
        {% endif %}
    {% endif %}
</div>
{% endblock %}