{% extends 'board/base.html' %}

{% block head_title %}
    Update Post
{% endblock %}

{% block main_area %}

    <h1> Edit Post</h1>
    <hr>
    <form method="post" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto;">
        {% csrf_token %}
        <table style="width: 100%;">
            {{ form.as_table }}
        </table>
        <div style="text-align: right; margin-top: 10px;">
            <button type="submit" class="btn btn-primary custom-btn" style=" border: 1px solid #000000;background-color: #f8f9fa;
                color: #495057; margin-right: 5px;"> Submit
            </button>
        </div>
    </form>
{% endblock %}


