{% extends 'self_profile/base.html' %}

{% block main_area %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="self_profile">
    <div class="row well">

        <div class="col-md-15">
            <div class="panel" style="height: 250px;">
                <img class="rounded-circle border border-0 border-white shadow"
                     src="https://avatars.githubusercontent.com/u/145529622?v=4" alt="..."
                     style="width 40%; height: 40%; margin-top: 135px; margin-left: 20px;">
                <div class="name ml-3" style="position: absolute; top: 170px; left: 15px; font-size:2.5rem;"><small>박서현</small></div>
                <div class="name ml-3" style="position: absolute; top: 220px; left: 15px; font-size:1rem;">가입일: 2023.11.24</div>
            </div>
        </div>

        <div class="container bootstrap snippets bootdey">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                공지사항 기능 <strong> 입니다</strong>.
            </div>
            <br><h3 class="text-dark mx-4">프로필</h3><br>
            <div class="row mx-3">
                <!-- left column -->
                <!--            <div class="col-md-3">-->
                <!--                <div class="text-center">-->
                <!--                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">-->

                <!--                    <input type="file" class="form-control">-->
                <!--                </div>-->
                <!--            </div>-->

                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <label class="col-lg-3 control-label">이름</label>
                            <div class="col-lg-8">
                                <input class="form-control short-input" type="text" value="" maxlength='10'>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">학번</label>
                            <div class="col-lg-8">
                                <input class="form-control short-input" type="text" value="" maxlength='8'>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">학과</label>
                            <div class="col-lg-8">
                                <input class="form-control short-input" type="text" value="" maxlength='8'>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">이메일</label>
                            <div class="col-lg-8">
                                <input class="box mail-input" id="domain-txt" type="text"/>@
                                <select class="box" id="domain-list">
                                    <option value="type">직접 입력</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="google.com">google.com</option>
                                    <option value="hanmail.net">hanmail.net</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="kakao.com">kakao.com</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">전화번호</label>
                            <div class="col-lg-8">
                                <input class="num-input" type='tel' name='phone1' maxlength='3'/>-
                                <input class="num-input" name='phone2' maxlength='4'/>-
                                <input class="num-input" name='phone3' maxlength='4'/>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">Git</label>
                            <div class="col-lg-8">
                                <input class="form-control link-input" type="text" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">인스타그램</label>
                            <div class="col-lg-8">
                                <input class="form-control link-input" type="text" value="">
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-lg-3 control-label">페이스북</label>
                            <div class="col-lg-8">
                                <input class="form-control link-input" type="text" value="">
                            </div>
                        </div><br><hr><br>
                    </form>
                </div>

            </div>


            <h3 class="text-dark mx-4">비밀번호 변경</h3><br>
            <div class="row mx-3">
                <div class="col-md-9 personal-info">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <label class="col-lg-3 control-label">현재 비밀번호</label>
                            <div class="col-lg-8">
                                <input class="form-control short-input" type="text" value="" maxlength='10'>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">새 비밀번호</label>
                            <div class="col-lg-8">
                                <input class="form-control short-input" type="text" value="" maxlength='10'>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 control-label">새 비밀번호 확인</label>
                            <div class="col-lg-8">
                                <input class="form-control short-input" type="text" value="" maxlength='10'>
                            </div><br><br>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
