<form method ="POST" action="{% url 'login' %}">
{% csrf_token %}
<div class="login_container">
    <input name="username" type="text" class="userLogin" placeholder="사용자 이름" value="">
    <input name="1st_password" type="password" class="userLogin" placeholder="비밀번호" value="">
    <input id="loginButton" class="btn btn-primary" type="submit" value="가입하기">
</div>
    <footer class="join">
        <a class="joinus">계정이 없으신가요?</a><a class="joinBtn" href="{% url 'signup' %}"> 가입하기</a>
    </footer>
</form>