<form method="POST" action="{% url 'account:signup' %}">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <p class="errors">{{ form.username.errors }}</p>
        {% endif %}
    </div>
    <div class="fieldWrapper">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.errors %}
            <p class="errors">{{ form.name.errors }}</p>
        {% endif %}
    </div>
    <div class="fieldWrapper">
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
            <p class="errors">{{ form.email.errors }}</p>
        {% endif %}
    </div>
    <div class="fieldWrapper">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.errors %}
            <p class="errors">{{ form.password1.errors }}</p>
        {% endif %}
    </div>
    <div class="fieldWrapper">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.errors %}
            <p class="errors">{{ form.password2.errors }}</p>
        {% endif %}
    </div>
    <button type="submit">Sign up</button>
</form>