{% extends 'etc/base.html' %}

{% block main_area %}
    <h3>[etc]</h3>

    {% if post_list.exists %}
        {% for p in post_list %}
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ p.title }}</h2>
                    <p class="card-text">{{ p.content | truncatewords:10 }}</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ p.created_at }}
                    <a href="#">개발예정</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
            <h3>아직 게시물이 없습니다.</h3>

    {% endif %}

            <!-- Pagination -->
            <!--<ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>-->
{% endblock %}

