{% extends 'etc/base.html' %}

{% block main_area %}

<style>
    @import url(https://fonts.googleapis.com/css?family=Lato:300);

    .card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Ensure the container takes the full height of the parent */
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #E2E2E2;
        border: none;
    }

    h5 {
        text-align: center;
    }

    .box {
        display: inline-block;
        height: 150px;
        width: 33.3%;
        float: left;
        position: relative;
        transition: all .2s ease;
    }

    .box:nth-child(2n-1) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .box p {
        color: #777;
        font-family: Lato, "Helvetica Neue";
        font-weight: 300;
        position: absolute;
        font-size: 20px;
        width: 100%;
        height: 25px;
        text-align: center;
        bottom: 0px;
        margin: 0;
        top: 160px;
        background-color: #fff;
        opacity: 0;
        text-transform: uppercase;
        transition: all .2s ease;
    }

    /* MEDIA QUERIES */
    @media (max-width: 700px) {
        .box {
            width: 50%;
        }

        .box:nth-child(2n-1) {
            background-color: inherit;
        }

        .box:nth-child(4n),
        .box:nth-child(4n-3) {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    @media (max-width: 420px) {
        .box {
            width: 100%;
        }

        .box:nth-child(4n),
        .box:nth-child(4n-3) {
            background-color: inherit;
        }

        .box:nth-child(2n-1) {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    /* -------------- loader9 -------------- */

    .loader9 {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background-color: #fff;
        margin: 5% auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .loader9:before,
    .loader9:after {
        content: "";
        position: absolute;
        top: 0px;
        height: 12px;
        width: 12px;
        border-radius: 12px;
        animation: loader9g 3s ease-in-out infinite;
    }

    .loader9:after {
        animation: loader9d 3s ease-in-out infinite;
    }

    @keyframes loader9g {
        0% { left: -25px; background-color: rgba(255, 255, 255, .8); }
        50% { left: 0px; background-color: rgba(255, 255, 255, .1); }
        100% { left: -25px; background-color: rgba(255, 255, 255, .8); }
    }

    @keyframes loader9d {
        0% { left: 25px; background-color: rgba(255, 255, 255, .8); }
        50% { left: 0px; background-color: rgba(255, 255, 255, .1); }
        100% { left: 25px; background-color: rgba(255, 255, 255, .8); }
    }

</style>

<div class="card-container">
    <div class="card my-4 mx-0">
        <br><br>
        <h5>아직 개발 중입니다 . . . </h5>
        <div class="box">
            <div class="loader9"></div>
        </div>
    </div>
</div>

{% endblock %}
