{% block personal_schedule %}
  {% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/css/todo.css' %}">
</head>

<div class="container" style="padding: 20px; border: 1px solid #ccc;background-color: #ADBC00;">
        <div class="header">
            <div class="page-header">
                {% if user.is_authenticated %}
                    <h4><small>{{ user }}</small>의 Todo List </h4>
                {% else %}
                    <h4>Todo List</h4>
                    <p> 로그인이 필요합니다 </p>
                {% endif %}
            </div>

        </div>
        <div class="content">
            {% if user.is_authenticated %}
            <div class="messageDiv">
                <form action="./createTodo" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="todoContent" name="todoContent" type="text" class="form-control" placeholder="개인일정 추가하기">
                        <span class="input-group-btn">
                            <button class="btn btn-default" style="background: white;" type="submit">추가</button>
                        </span>
                    </div>
                </form>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="toDoDiv">
                <ul class="list-group">
                    {% for todo in todos %}
                        {% if todo.author == user %}
                        <form action="./deleteTodo" method="GET">
                            <div class="input-group">
                                <div class="list-group-item-container">
                                <li class="list-group-item">{{ todo.content | slice:":10" }} {% if todo.content|length > 10 %}...{% endif %}</li>
                                <input type="hidden" id="todoNum" name="todoNum" value="{{ todo.id }}">
                                 </div>
                                <span class="input-group-addon">
                                    <button type="submit" style="background: white;" class="custom-btn btn btn-black">완료</button>
                                </span>
                            </div>
                        </form>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

<style>
    .content{
        height: 75%;
    }
    .messageDiv{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .toDoDiv{

    }
    .custom-btn{
        font-size: 10px;
    }
</style>